<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @title.name %>
</p>

<p>
  <strong>Genre</strong>
  <%= @title.genre %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @title.published_at.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @title.publisher.name %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
