<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @title.name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @title.published_at %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @title.publisher %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
